@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>check</title>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <link rel="stylesheet" href="../../css/table.css" type="text/css" />
</head>
<body>
    <table width="100%">
        <tr>
            <td colspan="2" style="text-align: left">
                <font color="black">
                    您正在做的业务是：人力资源--薪酬标准管理--薪酬发放登记
                </font>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <input type="button" onclick="tijiao()" value="复核通过" class="BUTTON_STYLE1">
                <input type="button" value="返回" onclick="javascript:history.back(-1);" class="BUTTON_STYLE1">
            </td>
        </tr>
        @{
            List<salary_grant_details> details = ViewData["grantde"] as List<salary_grant_details>;
            salary_grant sagrant = ViewData["sagrant"] as salary_grant;
            List<string> standardid = ViewData["standardid"] as List<string>;
            List<string> standardsum = ViewData["paidsum"] as List<string>;
        }
        <tr>
            <td colspan="2" style="text-align: left">
                薪酬单编号：@sagrant.salary_grant_id
                <input type="hidden" name="salaryGrant.salaryGrantId" id="salary_grant_id" value="@sagrant.salary_grant_id">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left">
                机构：
                <span id="jg">@ViewData["jg"]级结构</span>
            </td>
        </tr>
        
        <tr>
            <td style="text-align: left">
                本机构总人数:@sagrant.human_amount
                <input type="hidden" name="salaryGrant.humanAmount" value="5">
                ，基本薪酬总数:@sagrant.salary_standard_sum<input type="hidden" name="salaryGrant.salaryStandardSum" id="salary_standard_sum" value="@sagrant.salary_standard_sum" />
                ，实发总额:<span id="salarySum_sum">@sagrant.salary_paid_sum</span>
                <input type="hidden" id="salary_paid_sum" name="salaryGrant.salaryPaidSum" value="@sagrant.salary_paid_sum" />

            </td>
            <td style="text-align: right;">
                @{ users user = Session["user"] as users;}
                复核人:<input type="text" name="salaryGrant.register" id="checker" value="@user.u_true_name" size="8" readonly="readonly">
                复核时间：<span id="Tdate"></span>
                <input type="hidden" name="salaryGrant.check_time" id="Tdate2">
            </td>
        </tr>
    </table>
    <table width="100%" border="1" cellpadding=0 cellspacing=1
           bordercolorlight=#848284 bordercolordark=#eeeeee
           class="TABLE_STYLE1" id="xcff">
        <tr>
            <td class="TD_STYLE1">
                <span>序号</span>
            </td>
            <td class="TD_STYLE1">
                <span>档案编号</span>
            </td>
            <td class="TD_STYLE1">
                <span>姓名</span>
            </td>
            <td class="TD_STYLE1">
                <span>工资详情</span>
            </td>
            <td class="TD_STYLE1" width="7%">
                奖励金额
            </td>
            <td class="TD_STYLE1" width="7%">
                销售绩效总额
            </td>
            <td class="TD_STYLE1" width="7%">
                应扣金额
            </td>
            <td class="TD_STYLE1" width="7%">
                实发金额
            </td>
        </tr>
        @for (int i = 0; i < details.Count; i++)
            {
            <tr class="TD_STYLE2">
                <td>
                    <input type="hidden" id="salaryStandardSum @(i+1)" value="@standardsum[i]" />
                    @(i + 1)
                </td>
                <td>
                    @details[i].human_id
                    <input type="hidden" name="humanId" value="@details[i].human_id" />
                </td>
                <td>
                    @details[i].human_name
                    <input type="hidden" name="humanName" value="@details[i].human_name" />
                </td>
                <td>
                    <a href="/salaryGrant/register_commit_details/@standardid[i]">工资详情</a>

                </td>
                <td>
                    <input type="hidden" name="salary_sum" value="@details[i].salary_standard_sum" />
                    <input type="hidden" name="human_id" value="@details[i].human_id" />
                    <input type="hidden" name="human_name" value="@details[i].human_name" />
                    <input type="text" name="bounsSum" id="bounsSum @(i + 1)" value="@details[i].bouns_sum" onkeyup="onKeyPress('@(i + 1)',@details.Count)" class="INPUT_STYLE2" />
                </td>
                <td>
                    <input type="text" name="saleSum" id="saleSum @(i + 1)" value="@details[i].sale_sum" onkeyup="onKeyPress('@(i + 1)',@details.Count)" class="INPUT_STYLE2" />
                </td>
                <td>
                    <input type="text" name="deductSum" id="deductSum @(i + 1)" value="@details[i].deduct_sum" onkeyup="onKeyPress('@(i + 1)',@details.Count)" class="INPUT_STYLE2" />
                </td>
                <td>
                    <input type="text" name="salaryPaidSum" readonly="readonly" id="salaryPaidSum @(i + 1)" value="@details[i].salary_paid_sum" class="INPUT_STYLE2" />
                </td>
            </tr>
        }
    </table>

    <script type="text/javascript">
        function tijiao() {
            var human_id="";
            var human_name="";
            var bounsSum="";
            var saleSum="";
            var deductSum="";
            var salaryPaidSum="";
            var salary_sum="";
            $("[name=human_id]").each(function(){
                human_id+=$(this).val()+",";
            });
            human_id=human_id.substr(0,human_id.lastIndexOf(','));
            $("[name=human_name]").each(function(){
                human_name+=$(this).val()+",";
            });
            human_name=human_name.substr(0,human_name.lastIndexOf(','));
            $("[name=bounsSum]").each(function(){
                bounsSum+=$(this).val()+",";
            });
            bounsSum=bounsSum.substr(0,bounsSum.lastIndexOf(','));
            $("[name=saleSum]").each(function(){
                saleSum+=$(this).val()+",";
            });
            saleSum=saleSum.substr(0,saleSum.lastIndexOf(','));
            $("[name=deductSum]").each(function(){
                deductSum+=$(this).val()+",";
            });
            deductSum=deductSum.substr(0,deductSum.lastIndexOf(','));
            $("[name=salaryPaidSum]").each(function(){
                salaryPaidSum+=$(this).val()+",";
            });
            salaryPaidSum=salaryPaidSum.substr(0,salaryPaidSum.lastIndexOf(','));
            $("[name=salary_sum]").each(function(){
                salary_sum+=$(this).val()+",";
            });
            salary_sum=salary_sum.substr(0,salary_sum.lastIndexOf(','));
            $.post("/salaryGrant/check_success", { "salary_grant_id": $("#salary_grant_id").val(),"salary_paid_sum":$("#salarySum_sum").text(),"checker":$("#checker").val(),"check_time":$("#Tdate2").val(),"human_id":human_id,"human_name":human_name,"bounsSum":bounsSum,"saleSum":saleSum,"deductSum":deductSum,"salaryPaidSum":salaryPaidSum,"salary_sum":salary_sum }, function (data) {
                if (data == "true") {
                    location.href = '/salaryGrant/check_success';
                } else {
                    alert("复核失败！");
                }
            });
        }
        function onKeyPress(i,size) {
            var bounsSum = document.getElementById("bounsSum " + i);
            var saleSum = document.getElementById("saleSum " + i);
            var deductSum = document.getElementById("deductSum " + i);
            var salaryPaidSum = document.getElementById("salaryPaidSum " + i);
            if (isNaN(bounsSum.value) || bounsSum.value < 0) {
                //bounsSum.value = "0.00";
                $(bounsSum).val($(bounsSum).attr("oldvalue"));
                alert("金额填写错误!");
                return;
            }
            if (isNaN(saleSum.value) || saleSum.value < 0) {
                alert("金额填写错误!");
                saleSum.value = "0.00";
                return;
            }
            if (isNaN(deductSum.value) || deductSum.value < 0) {
                alert("金额填写错误!");
                deductSum.value = "0.00";
                return;
            }
            salaryPaidSum.value = Number(bounsSum.value) + Number(saleSum.value) - Number(deductSum.value) + Number(document.getElementById("salaryStandardSum " + i).value);

            var sum = 0;
            for (var j = 1; j <= size; j++) {
                sum = Number(sum) + Number(document.getElementById("salaryPaidSum " + j).value);
            }
            document.getElementById("salarySum_sum").innerHTML = sum;
            document.getElementById("salaryPaidSum").value = sum;

        }
        function time() {
            var tdate = document.getElementById("Tdate");
            var d = new Date();
            var y = d.getFullYear();
            var moth = d.getMonth() + 1;
            var date = d.getDate();
            var h = d.getHours();
            var m = d.getMinutes();
            var s = d.getSeconds();
            var hh = 20 - 1 - h;
            var mm = 60 - 1 - m;
            var ss = 60 - s;
            if (hh > 0) {
                mm = mm + 60 * hh;
            }
            if (moth < 10) {
                moth = "0" + moth;
            }
            if (date < 10) {
                date = "0" + date;
            }
            if (h < 10) {
                h = "0" + h;
            }
            if (m < 10) {
                m = "0" + m;
            }
            if (s < 10) {
                s = "0" + s;
            }
            if (mm < 10) {
                mm = "0" + mm;
            }
            if (ss < 10) {
                ss = "0" + ss;
            }

            tdate.innerHTML = y + "-" + moth + "-" + date + " " + h + ":" + m + ":" + s;
            document.getElementById("Tdate2").value = tdate.innerHTML;
        }
        window.onload = time;
        var out = window.setInterval(time, 1000);
    </script>
</body>
</html>
