
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>query</title>
    <link rel="stylesheet" href="../../css/table.css" type="text/css" />
</head>
<body>
    @{
        List<salary_grant_details> details = ViewData["grantde"] as List<salary_grant_details>;
        salary_grant sagrant = ViewData["sagrant"] as salary_grant;
        List<string> standardid = ViewData["standardid"] as List<string>;
    }
        <table width="100%">
            <tr>
                <td style="text-align: left">
                    <font color="black">您正在做的业务是:人力资源管理--薪酬发放管理--薪酬发放复核</font>
                    <br><br><br>
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align: left">
                    薪酬单编号：@sagrant.salary_grant_id
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left">
                    机构：@ViewData["jg"]
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    本机构总人数:@sagrant.human_amount
                    ，基本薪酬总数:@sagrant.salary_standard_sum
                    ，实发总额:<span id="salarySum_sum">@sagrant.salary_paid_sum</span>
                </td>
                <td style="text-align: right">
                    登记人:@sagrant.register　
                    登记时间：@sagrant.regist_time
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td class="TD_STYLE1">
                    <span>序号</span>
                </td>
                <td class="TD_STYLE1">
                    <span>档案编号</span>
                </td>
                <td class="TD_STYLE1">
                    <span>姓名</span>
                </td>

                <td class="TD_STYLE1">
                    <span>工资详情</span>
                </td>

                <td class="TD_STYLE1">
                    奖励金额
                </td>
                <td class="TD_STYLE1">
                    销售绩效总额
                </td>
                <td class="TD_STYLE1">
                    应扣金额
                </td>
                <td class="TD_STYLE1">
                    实发金额
                </td>
            </tr>
            @for (int i = 0; i < details.Count; i++)
            {
                <tr class="TD_STYLE2">
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @details[i].human_id
                    </td>
                    <td>
                        @details[i].human_name
                    </td>
                    <td>
                        <a href="/salaryGrant/register_commit_details/@standardid[i]">工资详情</a>
                    </td>
                    <td>
                        @details[i].bouns_sum
                    </td>
                    <td>
                        @details[i].sale_sum
                    </td>
                    <td>
                        @details[i].deduct_sum
                    </td>
                    <td>
                        @details[i].salary_paid_sum
                    </td>
                </tr>
            }
        </table>
        <br>
        <center>
            <input type="button" style="width: 200;height: 50;font-size: 20px;font-weight: bold;border-bottom-style: ridge;cursor: pointer" onclick="javascript:window.history.back();" value="返 回">
        </center>
</body>
</html>
