
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>delete_list_information</title>
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css">
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>
    <script language="javascript"
            src="../../javascript/winopen/winopenm.js">
    </script>
    <script src="~/javascript/jquery-1.7.2.js"></script>
</head>
<body>
    @{ human_file hm = ViewData["human"] as human_file;}
    <form method="post" action="/humanResources/success_sc">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案删除 </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="删除" onclick="return sc()" class="BUTTON_STYLE1" />
                    <input type="button" value="返回" class="BUTTON_STYLE1"
                           onclick="history.back()">
                </td>
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=3 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td class="TD_STYLE1" width="10%">
                    档案编号
                    <input type="hidden" name="huf_id" value="@hm.huf_id" />
                    <input type="hidden" name="salary_sum" value="@hm.salary_sum" />
                    <input type="hidden" name="demand_salaray_sum" value="@hm.demand_salaray_sum" />
                    <input type="hidden" name="paid_salary_sum" value="@hm.paid_salary_sum" />
                    <input type="hidden" name="major_change_amount" value="@hm.major_change_amount" />
                    <input type="hidden" name="bonus_amount" value="@hm.bonus_amount" />
                    <input type="hidden" name="training_amount" value="@hm.training_amount" />
                    <input type="hidden" name="file_chang_amount" value="@hm.file_chang_amount" />
                    <input type="hidden" name="register" value="@hm.register" />
                    <input type="hidden" name="check_time" value="@hm.check_time" />
                    <input type="hidden" name="lastly_change_time" value="@hm.lastly_change_time" />
                    <input type="hidden" name="delete_time" value="@hm.delete_time" />
                    <input type="hidden" name="recovery_time" value="@hm.recovery_time" />
                    <input type="hidden" name="human_picture" value="@hm.human_picture" />
                    <input type="hidden" name="attachment_name" value="@hm.attachment_name" />
                    <input type="hidden" name="changer" value="@hm.changer" />
                    <input type="hidden" name="change_time" value="@hm.change_time" />
                    <input type="hidden" name="regist_time" value="@hm.regist_time" />
                    <input type="hidden" name="check_status" value="@hm.check_status" />
                    
                </td>
                <td colspan="6" class="TD_STYLE2">
                    @hm.human_id
                    <input type="hidden" name="human_id" value="@hm.human_id" />
                </td>
                <td rowspan="6" width="13%" style="text-align: center;">
                    @if (hm.human_picture != null)
                    {
                        <img src="../../images/@hm.human_picture" style="width:120px;height:150px;" />
                    }
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1" width="10%">
                    I级机构
                </td>
                <td width="13%" class="TD_STYLE2">
                    <input type="hidden" value="@hm.first_kind_id" readonly="readonly" name="first_kind_id" class="INPUT_STYLE2" />
                    <input type="hidden" value="@hm.first_kind_name" readonly="readonly" name="first_kind_name" class="INPUT_STYLE2" />
                    @hm.first_kind_name
                </td>
                <td width="10%" class="TD_STYLE1">
                    II级机构
                </td>
                <td width="13%" class="TD_STYLE2">
                    @hm.second_kind_name
                    <input type="hidden" value="@hm.second_kind_id" readonly="readonly" name="second_kind_id" class="INPUT_STYLE2" />
                    <input type="hidden" value="@hm.second_kind_name" readonly="readonly" name="second_kind_name" class="INPUT_STYLE2" />
                </td>
                <td width="10%" class="TD_STYLE1">
                    III级机构
                </td>
                <td class="TD_STYLE2" colspan="2" width="2%">
                    @hm.third_kind_name
                    <input type="hidden" value="@hm.third_kind_id" readonly="readonly" name="third_kind_id" class="INPUT_STYLE2" />
                    <input type="hidden" value="@hm.third_kind_name" readonly="readonly" name="third_kind_name" class="INPUT_STYLE2" />
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    职位分类
                </td>
                <td class="TD_STYLE2">
                    @hm.human_major_kind_name
                    <input type="hidden" value="@hm.human_major_kind_id" readonly="readonly" name="human_major_kind_id" class="INPUT_STYLE2" />
                    <input type="hidden" value="@hm.human_major_kind_name" readonly="readonly" name="human_major_kind_name" class="INPUT_STYLE2" />
                </td>
                <td class="TD_STYLE1">
                    职位名称
                </td>
                <td class="TD_STYLE2">
                    @hm.hunma_major_name
                    <input type="hidden" value="@hm.human_major_id" readonly="readonly" name="human_major_id" class="INPUT_STYLE2" />
                    <input type="hidden" value="@hm.hunma_major_name" readonly="readonly" name="hunma_major_name" class="INPUT_STYLE2" />
                </td>
                <td class="TD_STYLE1">
                    职称
                </td>
                <td colspan="2" class="TD_STYLE2">
                    @hm.human_pro_designation
                    <input type="hidden" value="@hm.human_pro_designation" readonly="readonly" name="human_pro_designation" class="INPUT_STYLE2" />
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    姓名
                </td>
                <td class="TD_STYLE2">
                    @hm.human_name
                    <input type="hidden" id="humanName" name="human_name" value="@hm.human_name"
                           class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    性别
                </td>
                <td class="TD_STYLE2">
                    @hm.human_sex
                    <input type="hidden" id="human_sex" name="human_sex" value="@hm.human_sex"
                           class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    EMAIL
                </td>
                <td colspan="2" class="TD_STYLE2">@hm.human_email<input type="hidden" name="human_email" value="@hm.human_email"
                      class="INPUT_STYLE2" id="humanEmail"></td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    电话
                </td>
                <td class="TD_STYLE2">
                    @hm.human_telephone
                    <input type="hidden" name="human_telephone" value="@hm.human_telephone"
                           class="INPUT_STYLE2" id="humanTelephone">
                </td>
                <td class="TD_STYLE1">
                    QQ
                </td>
                <td class="TD_STYLE2">@hm.human_qq
                    <input type="hidden" name="human_qq" value="@hm.human_qq"
                           class="INPUT_STYLE2" id="humanQq"></td>
                <td class="TD_STYLE1">
                    手机
                </td>
                <td colspan="2" class="TD_STYLE2">@hm.human_mobilephone
                    <input type="hidden" name="human_mobilephone" id="humanMobilephone"
                           value="@hm.human_mobilephone" class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    住址
                </td>
                <td colspan="3" class="TD_STYLE2">@hm.human_address
                    <input type="hidden" name="human_address" value="@hm.human_address"
                           class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    邮编
                </td>
                <td colspan="2" class="TD_STYLE2">@hm.human_postcode
                    <input type="hidden" name="human_postcode" value="@hm.human_postcode"
                           class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    国籍
                </td>
                <td class="TD_STYLE2">
                    @hm.human_nationality
                    <input type="hidden" name="human_nationality" value="@hm.human_nationality" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    出生地
                </td>
                <td class="TD_STYLE2">
                    <input type="hidden" name="human_birthplace" value="@hm.human_birthplace"
                           class="INPUT_STYLE2">

                </td>
                <td class="TD_STYLE1">
                    生日
                </td>
                <td width="13%" class="TD_STYLE2">@hm.human_birthday
                    <input type="hidden" name="startDate" readonly="readonly"
                           value="@hm.human_birthday" class="INPUT_STYLE2" id="birthday">
                </td>
                <td width="10%" class="TD_STYLE1">
                    民族
                </td>
                <td class="TD_STYLE2">
                    @hm.human_race
                    <input type="hidden" name="human_race" value="@hm.human_race" class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    宗教信仰
                </td>
                <td class="TD_STYLE2">
                    @hm.human_religion
                    <input type="hidden" name="human_religion" value="@hm.human_religion" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    政治面貌
                </td>
                <td class="TD_STYLE2">
                    @hm.human_party
                    <input type="hidden" name="human_party" value="@hm.human_party" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    身份证号码
                </td>
                <td class="TD_STYLE2">
                    @hm.human_id_card
                    <input type="hidden" name="human_id_card" value="@hm.human_id_card" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    社会保障号码
                </td>
                <td class="TD_STYLE2">@hm.human_society_security_id
                    <input type="hidden" name="human_society_security_id" value="@hm.human_society_security_id" class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    年龄
                </td>
                <td class="TD_STYLE2">@hm.human_age
                    <input type="hidden" name="human_age" value="@hm.human_age" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    学历
                </td>
                <td class="TD_STYLE2">
                    @hm.human_educated_degree
                    <input type="hidden" name="human_educated_degree" value="@hm.human_educated_degree" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    教育年限
                </td>
                <td class="TD_STYLE2">
                    @hm.human_educated_years
                    <input type="hidden" name="human_educated_years" value="@hm.human_educated_years" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    学历专业
                </td>
                <td class="TD_STYLE2">
                    @hm.human_educated_major
                    <input type="hidden" name="human_educated_major" value="@hm.human_educated_major" class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    薪酬标准
                </td>
                <td class="TD_STYLE2">
                    @hm.salary_sum
                    <input type="hidden" name="salary_standard_id" value="@hm.salary_standard_id" class="INPUT_STYLE2">
                    <input type="hidden" name="salary_standard_name" value="@hm.salary_standard_name" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    开户行
                </td>
                <td class="TD_STYLE2">@hm.human_bank
                    <input type="hidden" name="human_bank" value="@hm.human_bank" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    帐号
                </td>
                <td class="TD_STYLE2">@hm.human_account
                    <input type="hidden" name="human_account" value="@hm.human_account" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    复核人
                    <input type="hidden" name="checker" value="@hm.checker" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE2">
                    @hm.checker
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    复核时间
                </td>
                <td class="TD_STYLE2">
                    @hm.check_time
                    <input type="hidden" name="check_time" value="@hm.check_time" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    特长
                </td>
                <td class="TD_STYLE2">
                    @hm.human_speciality
                    <input type="hidden" name="human_speciality" value="@hm.human_speciality" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    爱好
                </td>
                <td class="TD_STYLE2">
                    @hm.human_hobby
                    <input type="hidden" name="human_hobby" value="@hm.human_hobby" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    &nbsp;
                </td>
                <td class="TD_STYLE2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    档案附件
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <a href="#">@hm.attachment_name</a>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    个人履历
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="item.humanHistroyRecords" rows="4"
                              class="TEXTAREA_STYLE1" readonly="readonly">@hm.human_histroy_records</textarea>
                    <input type="hidden" name="human_histroy_records" value="@hm.human_histroy_records" class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    家庭关系信息
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="item.humanFamilyMembership" rows="4"
                              class="TEXTAREA_STYLE1" readonly="readonly">@hm.human_family_membership</textarea>
                    <input type="hidden" name="human_family_membership" value="@hm.human_family_membership" class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    备注
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="item.remark" rows="4" class="TEXTAREA_STYLE1" readonly="readonly">@hm.remark</textarea>
                    <input type="hidden" name="remark" value="@hm.remark" class="INPUT_STYLE2">
                </td>
            </tr>
        </table>
        </form>
    <script>
        function sc() {
            if (confirm('是否删除？')) {
                return true;
            } else {
                return false;
            }
        }
    </script>
</body>
</html>
