
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../css/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../javascript/jquery-1.7.2.js">
    </script>
    <script src="~/javascript/comm/time.js"></script>
    <script type="text/javascript"
            src="../../javascript/jquery.messager.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/comm/select.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/time.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/human_register.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/human_input_check.js">
    </script>
</head>
<body>
    <form method="post" action="/humanResources/register_choose_picture">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案登记 </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" onclick="tijiao()" value="提交" class="BUTTON_STYLE1" />
                    <input type="reset" value="清除" class="BUTTON_STYLE1" />
                </td>
            </tr>
        </table>
        @{List<config_file_first_kind> first = ViewData["first"] as List<config_file_first_kind>;
            List<config_major_kind> mk = ViewData["major_kind"] as List<config_major_kind>;
            List<config_public_char> cpc = ViewData["designation"] as List<config_public_char>;
        }
        <table width="100%" border="1" cellpadding=3 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td class="TD_STYLE1" width="11%">
                    I级机构
                </td>
                <td width="14%" class="TD_STYLE2">
                    <select name="first_kind_id" class="SELECT_STYLE1" id="firstKind" onchange="yiji()">
                        <option value="0">请选择</option>
                        @foreach (config_file_first_kind item in first)
                        {
                            <option value="@item.first_kind_id">@item.first_kind_name</option>
                        }
                    </select>
                    <input type="hidden" name="first_kind_name" id="firstname"/>
                </td>
                <td width="11%" class="TD_STYLE1">
                    II级机构
                </td>
                <td width="14%" class="TD_STYLE2">
                    <select name="second_kind_id" class="SELECT_STYLE1" id="secondKind" onclick="erji()" onchange="erjichange()">
                        <option value="">请选择</option>
                    </select>
                    <input type="hidden" name="second_kind_name" id="twoname"/>
                </td>
                <td width="11%" class="TD_STYLE1">
                    III级机构
                </td>
                <td class="TD_STYLE2" colspan="2">
                    <select name="third_kind_id" class="SELECT_STYLE1" id="thirdKind" onclick="sanji()" onchange="sanjichange()">
                        <option value="">请选择</option>
                    </select>
                    <input type="hidden" name="third_kind_name" id="threename"/>
                </td>
                <td rowspan="5" style="text-align: center;"></td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    职位分类
                </td>
                <td class="TD_STYLE2">
                    <select name="human_major_kind_id" class="SELECT_STYLE1" id="majorKind" onchange="majorkchange()">
                        <option value="">请选择</option>
                        @foreach (config_major_kind item in mk)
                        {
                            <option value="@item.major_kind_id">@item.major_kind_name</option>
                        }
                    </select>
                    <input type="hidden" name="human_major_kind_name" id="majorkname"/>
                </td>
                <td class="TD_STYLE1">
                    职位名称
                </td>
                <td class="TD_STYLE2">
                    <select name="human_major_id" class="SELECT_STYLE1" id="majorName" onclick="major()" onchange="majornamechange()">
                        <option value="">请选择</option>
                    </select>
                    <input type="hidden" name="hunma_major_name" id="majorname"/>
                </td>
                <td class="TD_STYLE1">
                    职称
                </td>
                <td colspan="2" class="TD_STYLE2">
                    <select name="human_pro_designation" class="SELECT_STYLE1">
                        @foreach (config_public_char item in cpc)
                        {
                            <option>@item.attribute_name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    姓名
                </td>
                <td class="TD_STYLE2">
                    <input type="text" id="humanName" name="human_name"
                           class="INPUT_STYLE2" />
                </td>
                <td class="TD_STYLE1">
                    性别
                </td>
                <td class="TD_STYLE2">
                    <select name="human_sex" class="SELECT_STYLE1">
                        <option value="男" selected="selected">
                            男
                        </option>
                        <option value="女">
                            女
                        </option>
                    </select>
                </td>
                <td class="TD_STYLE1">
                    EMAIL
                </td>
                <td colspan="2" class="TD_STYLE2">
                    <input type="text" name="human_email" id="humanEmail"
                           class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    电话
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="human_telephone" id="humanTelephone"
                           class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    QQ
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="human_qq" id="humanQq"
                           class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    手机
                </td>
                <td colspan="2" class="TD_STYLE2">
                    <input type="text" name="human_mobilephone" id="humanMobilephone"
                           class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    住址
                </td>
                <td colspan="3" class="TD_STYLE2">
                    <input type="text" name="human_address"
                           class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    邮编
                </td>
                <td colspan="2" class="TD_STYLE2">
                    <input type="text" name="human_postcode"
                           class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    国籍
                </td>
                <td class="TD_STYLE2">
                    <select name="human_nationality" class="SELECT_STYLE1">
                        @foreach (config_public_char item in ViewData["guoji"] as List<config_public_char>)
                        {
                            <option>@item.attribute_name</option>
                        }
                    </select>
                </td>
                <td class="TD_STYLE1">
                    出生地
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="human_birthplace"
                           class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    生日
                </td>
                <td width="13%" class="TD_STYLE2">
                    <input type="text" name="startDate" onclick="aa('startDate')" readonly="readonly"
                           class="INPUT_STYLE2" id="birthday">
                </td>
                <td width="11%" class="TD_STYLE1">
                    民族
                </td>
                <td class="TD_STYLE2" width="14%">
                    <select name="human_race" class="SELECT_STYLE1">
                        @foreach (config_public_char item in ViewData["mingzu"] as List<config_public_char>)
                        {
                            <option>@item.attribute_name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
        <td class="TD_STYLE1">
            宗教信仰
        </td>
        <td class="TD_STYLE2">
            <select name="human_religion" class="SELECT_STYLE1">
                @foreach (config_public_char item in ViewData["zongj"] as List<config_public_char>)
                {
                    <option>@item.attribute_name</option>
                }
            </select>
        </td>
        <td class="TD_STYLE1">
            政治面貌
        </td>
        <td class="TD_STYLE2">
            <select name="human_party" class="SELECT_STYLE1">
                @foreach (config_public_char item in ViewData["zzmmao"] as List<config_public_char>)
                {
                    <option>@item.attribute_name</option>
                }
            </select>
        </td>
        <td class="TD_STYLE1">
            身份证号码
        </td>
        <td class="TD_STYLE2">
            <input type="text" name="human_id_card" id="humanIdCard"
                   class="INPUT_STYLE2">
        </td>
        <td class="TD_STYLE1">
            社会保障号码
        </td>
        <td class="TD_STYLE2">
            <input type="text" name="human_society_security_id"
                   class="INPUT_STYLE2">
        </td>
    </tr>
    <tr>
        <td class="TD_STYLE1">
            年龄
        </td>
        <td class="TD_STYLE2">
            <input type="text" name="human_age" id="humanAge"
                   class="INPUT_STYLE2">
        </td>
        <td class="TD_STYLE1">
            学历
        </td>
        <td class="TD_STYLE2">
            <select name="human_educated_degree" class="SELECT_STYLE1">
                @foreach (config_public_char item in ViewData["xueli"] as List<config_public_char>)
                {
                    <option>@item.attribute_name</option>
                }
            </select>
        </td>
        <td class="TD_STYLE1">
            教育年限
        </td>
        <td class="TD_STYLE2">
            <select name="human_educated_years" class="SELECT_STYLE1">
                @foreach (config_public_char item in ViewData["jyuage"] as List<config_public_char>)
                {
                    <option>@item.attribute_name</option>
                }
            </select>
        </td>
        <td class="TD_STYLE1">
            学历专业
        </td>
        <td class="TD_STYLE2">
            <select name="human_educated_major" class="SELECT_STYLE1">
                @foreach (config_public_char item in ViewData["zhuanye"] as List<config_public_char>)
                {
                    <option>@item.attribute_name</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="TD_STYLE1">
            薪酬标准
        </td>
        <td class="TD_STYLE2">
            <select name="salary_standard_id" class="SELECT_STYLE1" id="standid" onchange="standchange()">
                @foreach (salary_standard item in ViewData["salarystrandard"] as List<salary_standard>)
                {
                    <option value="@item.standard_id">@item.standard_name</option>
                }
            </select>
            <input type="hidden" name="salary_standard_name" id="standname"/>
        </td>
        <td class="TD_STYLE1">
            开户行
        </td>
        <td class="TD_STYLE2">
            <input type="text" name="human_bank"
                   class="INPUT_STYLE2">
        </td>
        <td class="TD_STYLE1">
            帐号
        </td>
        <td class="TD_STYLE2">
            <input type="text" name="human_account"
                   class="INPUT_STYLE2">
        </td>
        <td class="TD_STYLE1">
            登记人
        </td>
        <td class="TD_STYLE2">
            @{ users user = Session["user"] as users;}
            <input type="text" name="register" value="@user.u_true_name" readonly="readonly" class="INPUT_STYLE2">
        </td>
    </tr>
    <tr>
        <td class="TD_STYLE1">
            建档时间
        </td>
        <td class="TD_STYLE2">
            <input type="text" name="regist_time" id="create_time" readonly="readonly"
                   class="INPUT_STYLE2">
        </td>
        <td class="TD_STYLE1">
            特长
        </td>
        <td class="TD_STYLE2">
            <select name="human_speciality" class="SELECT_STYLE1">
                @foreach (config_public_char item in ViewData["techang"] as List<config_public_char>)
                {
                    <option>@item.attribute_name</option>
                }
            </select>
        </td>
                <td class="TD_STYLE1">
                    爱好
                </td>
                <td class="TD_STYLE2">
                    <select name="human_hobby" class="SELECT_STYLE1">
                        @foreach (config_public_char item in ViewData["aihao"] as List<config_public_char>)
                        {
                            <option>@item.attribute_name</option>
                        }
                    </select>
                </td>
                <td class="TD_STYLE1">
                    &nbsp;
                </td>
                <td class="TD_STYLE2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    个人履历
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="human_histroy_records" rows="4"
                              class="TEXTAREA_STYLE1"></textarea>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    家庭关系信息
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="human_family_membership" rows="4"
                              class="TEXTAREA_STYLE1"></textarea>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    备注
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="remark" rows="4" class="TEXTAREA_STYLE1"></textarea>
                </td>
            </tr>
        </table>
    </form>
    <script>
        function tijiao() {
            //提交时赋值
            if ($("#majorName").find("option:selected").text() == "请选择") {
                $("#majorname").val("");
            } else {
                $("#majorname").val($("#majorName").find("option:selected").text());
            }
            if ($("#majorKind").find("option:selected").text() == "请选择") { $("#majorkname").val(""); } else {
                $("#majorkname").val($("#majorKind").find("option:selected").text());
            }
            if ($("#secondKind").find("option:selected").text() == "请选择") {
                $("#twoname").val("");
            } else {
                $("#twoname").val($("#secondKind").find("option:selected").text());
            }
            if ($("#thirdKind").find("option:selected").text() == "请选择") {
                $("#threename").val("");
            } else {
                $("#threename").val($("#thirdKind").find("option:selected").text());
            }
            if ($("#firstKind").find("option:selected").text() == "请选择") {
                $("#firstname").val("");
            } else {
                $("#firstname").val($("#firstKind").find("option:selected").text());
            }
            $("#standname").val($("#standid").find("option:selected").text());
        }
        //薪酬选中获取id和name
        function standchange() {
            $("#standname").val($("#standid").find("option:selected").text());
        }
        //判断职位分类选择中没
        function major() {
            if ($("#majorKind").val()==0) {
                alert("请选择职位分类！");
            }
        }
        //职位名称选择
        function majornamechange() {
            if ($("#majorName").find("option:selected").text()=="请选择") {
                $("#majorname").val("");
            }else{
            $("#majorname").val($("#majorName").find("option:selected").text());
            }
        }
        //职位分类选中让职位名称显示
        function majorkchange() {
            $.post("/humanResources/human_register", { "jigou": "majork", "id": $("#majorKind").val() }, function (data) {
                $("#majorName option:gt(0)").remove();
                for (var i in data) {
                    var $option = $('<option value="' + data[i]["mak_id"] + '">' + data[i]["major_name"] + '</option>');
                    $("#majorName").append($option);
                }
                $("#majorName").val("");
            }, 'json');
            if ($("#majorKind").find("option:selected").text()=="请选择") {$("#majorkname").val(""); } else {
                $("#majorkname").val($("#majorKind").find("option:selected").text());
            }
        }
        //二级选择让三级显示
        function erjichange() {
            $.post("/humanResources/human_register", { "jigou": "2", "id": $("#secondKind").val() }, function (data) {
                $("#thirdKind option:gt(0)").remove();
                for (var i in data) {
                    var $option = $('<option value="' + data[i]["third_kind_id"] + '">' + data[i]["third_kind_name"] + '</option>');
                    $("#thirdKind").append($option);
                }
                $("#thirdKind").val("");
            }, 'json');
            if ($("#secondKind").find("option:selected").text() == "请选择") {
                $("#twoname").val("");
            } else {
                $("#twoname").val($("#secondKind").find("option:selected").text());
            }
        }
        //三级选中
        function sanjichange() {
            if ($("#thirdKind").find("option:selected").text() == "请选择") {
                $("#threename").val("");
            } else {
                $("#threename").val($("#thirdKind").find("option:selected").text());
            }
        }
        //三级判断前面选择没
        function sanji() {
            if ($("#secondKind").val() == 0) {
                alert('请选择二级机构！');
            }
        }
        //二级判断前面选择没
        function erji() {
            if ($("#firstKind").val() == 0) {
                alert('请选择一级机构！');
            }
        }
        //一级选择让二级显示
        function yiji() {
            $.post("/humanResources/human_register", { "jigou": "1", "id": $("#firstKind").val() }, function (data) {
                $("#secondKind option:gt(0)").remove();
                for (var i in data) {
                    var $option = $('<option value="' + data[i]["second_kind_id"] + '">' + data[i]["second_kind_name"] + '</option>');
                    $("#secondKind").append($option);
                }
                $("#secondKind").val("");
            }, 'json');
            if ($("#firstKind").find("option:selected").text() == "请选择") {
                $("#firstname").val("");
            } else {
                $("#firstname").val($("#firstKind").find("option:selected").text());
            }
        }
        $(function () {


        });

    </script>
</body>
</html>