
@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="~/Scripts/css/table.css"
          type="text/css"></link>

    <script type="text/javascript">
        function Pageback() {
            window.location.href = "/transfer_register_locate/list";

        }
    </script>
</head>

<body>

    <table width="100%">
        <tr>
            <td>
                <font color="black">您正在做的业务是:人力资源--培训管理--调动登记查看</font>
            </td>
        </tr>
        <tr>
            <td align="right">
                <input type="button" class="BUTTON_STYLE1" onclick="Pageback(); " value=" 返回">
            </td>
        </tr>
    </table>
    <table width="100%" border="1" cellpadding=0 cellspacing=1
           bordercolorlight=#848284 bordercolordark=#eeeeee
           class="TABLE_STYLE1">
        <tr height="21">
            <td class="TD_STYLE1" width="8%">
                档案编号
            </td>
            <td class="TD_STYLE2" width="10%">
                @ViewBag.human_id
            </td>
            <td class="TD_STYLE1" width="8%">
                姓名
            </td>
            <td class="TD_STYLE2" width="10%">
                @ViewBag.human_name
            </td>
            <td class="TD_STYLE1" width="8%"></td>
            <td class="TD_STYLE2" width="10%"></td>
            <td class="TD_STYLE1" width="8%"></td>
            <td class="TD_STYLE2" width="10%"></td>
        </tr>
        <tr>
            <td class="TD_STYLE1" width="8%">
                原一级机构
            </td>
            <td class="TD_STYLE2">
                @ViewBag.first_kind_name
            </td>
            <td class="TD_STYLE1" width="8%">
                原二级机构
            </td>
            <td class="TD_STYLE2" width="10%">
                @ViewBag.second_kind_name
            </td>
            <td class="TD_STYLE1" width="8%">
                @ViewBag.third_kind_name
            </td>
            <td class="TD_STYLE2" width="10%"></td>
            <td class="TD_STYLE1" width="8%"></td>
            <td class="TD_STYLE2" width="10%"></td>
        </tr>

        <tr>
            <td class="TD_STYLE1">
                原职位分类
            </td>
            <td class="TD_STYLE2">
                @ViewBag.major_kind_name
            </td>
            <td class="TD_STYLE1" width="12%">
                原职位名称
            </td>
            <td class="TD_STYLE2">
                @ViewBag.major_name
            </td>
            <td class="TD_STYLE1">
                原薪酬标准
            </td>
            <td class="TD_STYLE2">
                @ViewBag.salary_standard_name
            </td>
            <td class="TD_STYLE1">
                原薪酬总额
            </td>
            <td class="TD_STYLE2">
                @ViewBag.paid_salary_sum
            </td>
        </tr>
        <tr>
            <td class="TD_STYLE1">
                新一级机构名称
            </td>
            <td class="TD_STYLE2">
                <select name="mc.newFirstKindId" class="INPUT_STYLE2">
                    <option value="1353318953319">@ViewBag.Nfirst_kind_name</option>
                </select>

            </td>
            <td class="TD_STYLE1" width="12%">
                新二级机构名称
            </td>
            <td class="TD_STYLE2">
                <select name="mc.newSecondKindId" class="INPUT_STYLE2">
                    <option value="1353318979558">@ViewBag.Nsecond_kind_name</option>
                </select>
            </td>
            <td class="TD_STYLE1" width="12%">
                新三级机构名称
            </td>
            <td class="TD_STYLE2">
                <select name="mc.newThirdKindId" class="INPUT_STYLE2">
                    <option value="1353319077370">@ViewBag.new_third_kind_name</option>
                </select>
            </td>
            <td class="TD_STYLE1" width="8%"></td>
            <td class="TD_STYLE2" width="10%"></td>
        </tr>
        <tr>
            <td class="TD_STYLE1">
                新职位分类
            </td>
            <td class="TD_STYLE2">
                <select name="mc.newMajorKindId" class="INPUT_STYLE2">
                    <option value="02">@ViewBag.new_major_kind_name</option>
                </select>
            </td>
            <td class="TD_STYLE1" width="12%">
                新职位名称
            </td>
            <td class="TD_STYLE2">
                <select name="mc.newMajorId" class="INPUT_STYLE2">
                    <option value="02">@ViewBag.new_major_name</option>
                </select>
            </td>
            <td class="TD_STYLE1">
                新薪酬标准
            </td>
            <td class="TD_STYLE2">
                <select name="mc.newSalaryStandardId" class="INPUT_STYLE2">
                    <option value="1353320082662"> @ViewBag.Nsalary_standard_name</option>
                </select>
            </td>
            <td class="TD_STYLE1">
                新薪酬总额
            </td>
            <td class="TD_STYLE2">
                @ViewBag.Npaid_salary_sum
            </td>
        </tr>

        <tr>
            <td class="TD_STYLE1">
                登记人
            </td>
            <td class="TD_STYLE2">
                @ViewBag.register
            </td>
            <td class="TD_STYLE1">
                登记时间
            </td>
            <td class="TD_STYLE2">
                @ViewBag.register_time
            </td>
            <td class="TD_STYLE1">
                复核人
            </td>
            <td class="TD_STYLE2">
                @ViewBag.checkMan
            </td>
            <td class="TD_STYLE1">
                复核时间
            </td>
            <td class="TD_STYLE2">
                @ViewBag.checkTime
            </td>
        </tr>
        <tr>
            <td class="TD_STYLE1">
                调动原因
            </td>
            <td colspan="7" class="TD_STYLE2">
                <textarea name="majorChange.changeReason" rows="6" readonly="readonly" class="TEXTAREA_STYLE1">
                    @ViewBag.changeReason
                </textarea>
            </td>
        </tr>
    </table>

</body>
</html>


