
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>salarystandard_change</title>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <link rel="stylesheet" href="../../css/table.css" type="text/css" />
</head>
<body>
    <form>

        <input type="hidden" name="standard.ssdId" value="1259">

        <table width="100%">
            <tr>
                <td>
                    <font color="#0000CC">您正在做的业务是:人力资源管理--薪酬标准管理--薪酬标准登记变更</font>
                </td>
            </tr>
            <tr>
                <td>
                    <div align="right">
                        <input type="button" value="重新提交" class="BUTTON_STYLE1" onclick="tijiao()">
                        <input type="button" value="返回" onclick="history.back();" class="BUTTON_STYLE1">
                    </div>
                </td>
            </tr>
        </table>
        @{List<salary_standard_details> salary_details = ViewData["alary_details"] as List<salary_standard_details>;}
        @{List<salary_standard> salary_standard = ViewData["standard"] as List<salary_standard>;}
        <table id="stable" width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight='#848284' bordercolordark='#eeeeee'
               class="TABLE_STYLE1">
            <tr>
                <td width="12%" class="TD_STYLE1">
                    薪酬编号
                </td>
                <td width="15%" class="TD_STYLE2">
                    <input type="text" name="standard_id" id="standard_id" value="@salary_standard[0].standard_id" readonly="readonly" />
                </td>
                <td width="12%" class="TD_STYLE1">
                    薪酬标准名称
                </td>
                <td width="11%" class="TD_STYLE2">
                    <input type="text" name="standard_name" value="@salary_standard[0].standard_name" id="standardName" class="INPUT_STYLE2">

                </td>
                <td width="11%" class="TD_STYLE1">
                    薪酬总额
                </td>
                <td width="17%" class="TD_STYLE2">
                    <input type="text" name="salary_sum" id="sumSalary" value="@salary_standard[0].salary_sum" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td width="12%" class="TD_STYLE1">
                    &nbsp;
                </td>
                <td width="10%" class="TD_STYLE2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    制定人
                </td>
                <td class="TD_STYLE2">
                    <select id="designer" name="designer" class="INPUT_STYLE2">
                        @foreach (users item in ViewData["users"] as List<users>)
                        {
                            <option value="@item.u_true_name" @((salary_standard[0].designer==item.u_true_name)?"checked":"")>@item.u_true_name</option>
                        }
                    </select>

                    @*<input type="text" name="designer" id="designer" value="@salary_standard[0].designer" class="INPUT_STYLE2">*@
                </td>
                <td class="TD_STYLE1">
                    变更人
                </td>
                <td class="TD_STYLE2">
                    @if (Session["user"] == null)
                    {
                        { Response.Redirect("/User/Login"); }
                    }
                    @{ users user = Session["user"] as users;}
                    <input type="text" id="fhren" name="register" value="@user.u_true_name" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    变更时间
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="regist_time" id="Tdate" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    &nbsp;
                </td>
                <td class="TD_STYLE2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    备注
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea id="fhyj" name="remark" rows="4" class="INPUT_STYLE2">@salary_standard[0].remark</textarea>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    序号
                </td>
                <td colspan="3" class="TD_STYLE1">
                    薪酬项目名称
                </td>
                <td colspan="4" class="TD_STYLE1">
                    金额
                </td>
            </tr>
            <tbody>
                @for (int i = 0; i < salary_details.Count; i++)
            {
                    <tr class="TD_STYLE2">
                        <td align="center">
                            <input type="hidden" value="@salary_details[i].sdt_id" name="sdt_id"/>
                            @salary_details[i].item_id<input type="hidden" id="salaryid @(i+1)" name="salaryid" value="@salary_details[i].item_id">
                        </td>
                        <td colspan="3">
                            @salary_details[i].item_name<input type="hidden" id="details @(i+1)" name="details" value="@salary_details[i].item_name">
                        </td>
                        <td>
                            <input type="text" id="salary @(i+1)" name="salarymoney" value="@salary_details[i].salary"
                                   onkeyup="countMoney('@salary_details.Count','salary @(i+1)')" class="INPUT_STYLE2">
                        </td>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*@{List<salary> list = ViewData["list"] as List<salary>;}

        @{ int num = 0;}
        <div style="margin:auto;width:500px;height:auto;" id="salaryxz">
            <input type="checkbox" id="qx" onclick="xz()" />全选<br />
            @foreach (salary item in list)
            {
                if (num == 6)
                {
                    { num = 0; }
                    <br />
                }
                <input type="checkbox" name="cbox" value="@item.sid_id" />@item.sid_sname
                { num++; }
            }
            <br />
            <input type="button" value="确定" onclick="chasalary()" />
        </div>*@
    </form>
    <script type="text/javascript">
        //全选或全不选
        function xz() {
            if ($("#qx").prop("checked") == true) {
                // 上面的复选框已被选中
                $(":checkbox[name='cbox']").prop("checked", "checked");
            } else {
                // 上面的复选框没被选中
                $(":checkbox[name='cbox']").prop("checked", "");
            }
        }
        //查询所需的salary
        function chasalary() {
            var sid = "";
            $.each($('input:checkbox[name="cbox"]:checked'), function () {
                sid += $(this).val() + ",";
            });
            if (sid == "") {
                alert("未选中薪酬项目名！");
                return false;
            }
            sid = sid.substr(0, sid.lastIndexOf(','));
            $.post("/salaryCriterion/salarystandard_register_success_salary", { "salaryid": sid }, function (data) {
                var salary = eval(data);
                $("#stable tr:gt(3)").remove();
                for (var i = 0; i < salary.length; i++) {
                    var $tr = $('<tbody id="rem"><tr class="TD_STYLE2"><td align="center">' + (i+1)+ '<input type="hidden" id="salaryid ' + (i + 1) + '" name="salaryid" value="' + salary[i]["sid_id"] + '"></td><td colspan="3">' + salary[i]["sid_sname"] + '<input type="hidden" id="details ' + (i + 1) + '" name="details" value="' + salary[i]["sid_sname"] + '"></td><td><input type="text" id="salary ' + (i + 1) + '" name="salarymoney" value="0.00" onkeyup="countMoney(\'' + salary.length + '\',\'salary ' + (i + 1) + '\')" class="INPUT_STYLE2"></td><td colspan="3">&nbsp;</td></tr></tbody>');
                    $("#stable").append($tr);
                }
                $("#sumSalary").val('0.00');
            });
        }
        function tijiao() {
            if ($("#sumSalary").val() == "0.00" || $("#sumSalary").val()=="0") {
                alert("薪酬总额不能为0!");
                return false;
            }
            //alert($("[name=remark]").val());
            var designer = document.getElementById("designer");
            var standardName = document.getElementById("standardName");
            if (designer.value.length <= 0) {
                alert("制定人不可为空!!!");
                return;
            }
            if (standardName.value.length <= 0) {
                alert("薪酬标准名称不可为空!!!");
                return;
            }

            var salaryid = "";
            var details = "";
            var salarymoney = "";
            var sdtid = "";
            $("[name=salaryid]").each(function () {
                //alert($(this).val());
                salaryid += $(this).val() + ",";
            });
            salaryid = salaryid.substr(0, salaryid.lastIndexOf(','));
            $("[name=details]").each(function () {
                //alert($(this).val());
                details += $(this).val() + ",";
            });
            details = details.substr(0, details.lastIndexOf(','));
            $("[name=salarymoney]").each(function () {
                //alert($(this).val());
                salarymoney += $(this).val() + ",";
            });
            salarymoney = salarymoney.substr(0, salarymoney.lastIndexOf(','));
            $("[name=sdt_id]").each(function () {
                sdtid += $(this).val()+",";
            });
            sdtid = sdtid.substr(0,sdtid.lastIndexOf(','));
            //alert(sdtid);
            //alert(salaryid);
            //alert(details);
            //alert(salarymoney);
            //alert(aaa.length);
            //alert(sdtid);
            $.post("/salaryCriterion/salarystandard_change_success", {"sdtid":sdtid, "standard_id": $("[name=standard_id]").val(), "standard_name": $("[name=standard_name]").val(), "designer": $("[name=designer]").val(), "register": $("[name=register]").val(), "regist_time": $("[name=regist_time]").val(), "salary_sum": $("[name=salary_sum]").val(), "remark": $("[name=remark]").val(), "salaryid": salaryid, "details": details, "salarymoney": salarymoney }, function (data) {
                if (data == "false") {
                    alert("添加失败！");
                } else if (data == "true") {
                    //alert("添加成功！");
                    location.href = '/salaryCriterion/salarystandard_change_success_cg';
                }
            });
        }
        function check() {

            var designer = document.getElementById("designer");
            var standardName = document.getElementById("standardName");
            if (designer.value.length <= 0) {
                alert("制定人不可为空!!!");
                return;
            }
            if (standardName.value.length <= 0) {
                alert("薪酬标准名称不可为空!!!");
                return;
            }
            document.forms[0].submit();
        }
        function countMoney(obj, o) {

            if (isNaN(document.getElementById(o).value) || document.getElementById(o).value < 0) {
                alert("金额填写错误!");
                document.getElementById(o).value = "0.00";
                return;
            }
            var sum = 0;
            for (var i = 1; i <= obj; i++) {
                var salary = document.getElementById("salary " + i).value;
                if (salary == "") {
                    salary = "0.00";
                }
                sum = Number(sum) + Number(salary);

            }
            document.getElementById("sumSalary").value = sum;

        }
        function time() {
            var tdate = document.getElementById("Tdate");
            var d = new Date();
            var y = d.getFullYear();
            var moth = d.getMonth() + 1;
            var date = d.getDate();
            var h = d.getHours();
            var m = d.getMinutes();
            var s = d.getSeconds();
            var hh = 20 - 1 - h;
            var mm = 60 - 1 - m;
            var ss = 60 - s;
            if (hh > 0) {
                mm = mm + 60 * hh;
            }
            if (moth < 10) {
                moth = "0" + moth;
            }
            if (date < 10) {
                date = "0" + date;
            }
            if (h < 10) {
                h = "0" + h;
            }
            if (m < 10) {
                m = "0" + m;
            }
            if (s < 10) {
                s = "0" + s;
            }
            if (mm < 10) {
                mm = "0" + mm;
            }
            if (ss < 10) {
                ss = "0" + ss;
            }

            tdate.value = y + "-" + moth + "-" + date + " " + h + ":" + m + ":" + s;

        }
        $(function () {
            window.onload = time;
            var out = window.setInterval(time, 1000);
        });

    </script>
</body>
</html>
