@model Model.major_change

@{
    ViewBag.Title = "Update";
}
<link href="~/CSS/table.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    var fid = 0;
    var sid = 0;
    $(function () {
        $.ajax({
            url: "/human_file/Index2",
            type: "get",
            success: function (dt2) {
                var dt = eval("(" + dt2 + ")");
                for (var i = 0; i < dt.length; i++) {
                    var $option = $("<option value=" + dt[i]["first_kind_id"] + ">" + dt[i]["first_kind_name"] + "</option>");
                    $("#firstKindId").append($option);
                }
            }
        })

        $("#firstKindId").change(function () {
            fid = $("#firstKindId option:selected").val();
            $.ajax({
                url: "/human_file/Index3/" + fid,
                type: "get",
                success: function (dt2) {
                    var dt = JSON.parse(dt2);
                    $("#secondKindId option:eq(1)").remove();
                    for (var i = 0; i < dt.length; i++) {
                        var $option2 = $("<option value=" + dt[i]["second_kind_id"] + ">" + dt[i]["second_kind_name"] + "</option>");
                        $("#secondKindId").append($option2);
                    }
                }
            })
        })

        $("#secondKindId").change(function () {
            sid = $("#secondKindId option:selected").val();
            $.ajax({
                url: "/human_file/Index4/?sid=" + sid + "&&fid=" + fid,
                type: "get",
                success: function (dt2) {
                    var dt = JSON.parse(dt2);
                    for (var i = 0; i < dt.length; i++) {
                        var $option2 = $("<option value=" + dt[i]["third_kind_id"] + ">" + dt[i]["third_kind_name"] + "</option>");
                        $("#thirdKindId").append($option2);
                    }
                }

            })
        })

        $.ajax({
            url: "/human_file/Index5/",
            type: "get",
            success: function (dt2) {
                var dt = eval("(" + dt2 + ")");
                for (var i = 0; i < dt.length; i++) {
                    var $option2 = $("<option value=" + dt[i]["human_major_kind_id"] + ">" + dt[i]["human_major_kind_name"] + "</option>");
                    $("#newMajorKindId").append($option2);
                }
            }
        })

        $.ajax({
            url: "/human_file/Index5/",
            type: "get",
            success: function (dt2) {
                var dt = eval("(" + dt2 + ")");
                for (var i = 0; i < dt.length; i++) {
                    var $option2 = $("<option value=" + dt[i]["human_major_id"] + ">" + dt[i]["hunma_major_name"] + "</option>");
                    $("#newMajorId").append($option2);
                }
            }
        })

        $.ajax({
            url: "/human_file/Index5/",
            type: "get",
            success: function (dt2) {
                var dt = eval("(" + dt2 + ")");
                for (var i = 0; i < dt.length; i++) {
                    var $option2 = $("<option value=" + dt[i]["salary_standard_id"] + ">" + dt[i]["salary_standard_name"] + "</option>");
                    $("#newSalaryStandardId").append($option2);
                }
            }
        })


        $("#xg").click(function () {
            $.ajax({
                url: "/major_change/Update",
                data: $("#SHForm").serialize() + '&' + $.param({
                    'firstKindId': $("#firstKindId").find("option:selected").text(), 'secondKindId': $("#secondKindId").find("option:selected").text(), 'thirdKindId': $("#thirdKindId").find("option:selected").text(), 'newMajorKindId': $("#newMajorKindId").find("option:selected").text(), 'newMajorId': $("#newMajorId").find("option:selected").text(), 'newSalaryStandardId': $("#newSalaryStandardId").find("option:selected").text()
                    , 'firstKindId2': $("#firstKindId").find("option:selected").val(), 'secondKindId2': $("#secondKindId").find("option:selected").val(), 'thirdKindId2': $("#thirdKindId").find("option:selected").val(), 'newMajorKindId2': $("#newMajorKindId").find("option:selected").val(), 'newMajorId2': $("#newMajorId").find("option:selected").val(), 'newSalaryStandardId2': $("#newSalaryStandardId").find("option:selected").val()
                }),
                type: "post",
                success: function (data) {
                    if (data == "ok") {
                        alert("调动成功");
                        window.location.href = "/major_change/Index";
                    }
                }
            });
        })

        $("#newSalaryStandardId").change(function () {
            $.ajax({
                url: "/major_change/Indexs?is=" + $("#newSalaryStandardId").val(),
                type: "get",
                success: function (dt) {
                    $("#salary_sum2").val(dt);
                }
            })
        })
    })




    function mySubmit() {
        if (document.getElementById("firstKindId").value == '0') {
            alert("请选择新一级结构！");
            return;
        }
        if (document.getElementById("newMajorKindId").value == '0') {
            alert("请选择新职位分类！");
            return;
        }
        if (document.getElementById("newMajorId").value == '0') {
            alert("请选择新职位名称！");
            return;
        }
        if (document.getElementById("newSalaryStandardId").value == '0') {
            alert("请选择新薪酬标准！");
            return;
        }
    }
</script>
    <form action="/major_change/Update" method="post" id="SHForm">
    <table width="100%">
        <tr>
            <td>
                <font color="#0000CC">您正在做的业务是:人力资源--调动管理--调动登记</font>
            </td>
        </tr>

        <tr>
            <td align="right">
                @*<input class="BUTTON_STYLE1" type="button" value="提交" onclick="mySubmit()" id="xg" />*@
                <input type="button" value="提交" class="BUTTON_STYLE1"
                    onclick="mySubmit()"  id="xg">
                <input type="button" class="BUTTON_STYLE1"
                       onclick="javascript:window.history.back();" value="返回">
            </td>
        </tr>
    </table>
    <table width="100%" border="1" cellpadding=0 cellspacing=1
           bordercolorlight=#848284 bordercolordark=#eeeeee
           class="TABLE_STYLE1">
        <tr height="21">
            <td class="TD_STYLE1" width="8%">
                档案编号
            </td>
            <td class="TD_STYLE2" width="10%">
                @Html.TextBoxFor(e => e.human_id, new { @readonly = true })
            </td>
            <td class="TD_STYLE1" width="8%">
                姓名
            </td>
            <td class="TD_STYLE2" width="10%">
                @Html.TextBoxFor(e => e.human_name)
            </td>
            <td class="TD_STYLE1" width="8%"></td>
            <td class="TD_STYLE2" width="10%"></td>
            <td class="TD_STYLE1" width="8%"></td>
            <td class="TD_STYLE2" width="10%"></td>
        </tr>
        <tr>

            <td class="TD_STYLE1" width="8%">
                原一级机构
            </td>
            <td class="TD_STYLE2">
                @Html.TextBoxFor(e => e.first_kind_name, new { @readonly = true })
                <input type="hidden" name="majorChange.firstKindId" value="1353318953319">
            </td>
            <td class="TD_STYLE1" width="8%">
                原二级机构
            </td>
            <td class="TD_STYLE2" width="10%">
                @Html.TextBoxFor(e => e.second_kind_name, new { @readonly = true })
                <input type="hidden" name="majorChange.secondKindId" value="1353318979558">
            </td>
            <td class="TD_STYLE1" width="8%">
                原三级机构
            </td>
            <td class="TD_STYLE2" width="10%">
                @Html.TextBoxFor(e => e.third_kind_name, new { @readonly = true })
                <input type="hidden" name="majorChange.thirdKindId" value="1353319077370">
            </td>
            <td class="TD_STYLE1" width="8%"></td>
            <td class="TD_STYLE2" width="10%"></td>
        </tr>

        <tr>
            <td class="TD_STYLE1">
                原职位分类
            </td>
            <td class="TD_STYLE2">
                @Html.TextBoxFor(e => e.major_kind_name, new { @readonly = true })
                <input type="hidden" name="majorChange.majorKindId" value="02">
            </td>
            <td class="TD_STYLE1" width="12%">
                原职位名称
            </td>
            <td class="TD_STYLE2">
                @Html.TextBoxFor(e => e.major_name, new { @readonly = true })
                <input type="hidden" name="majorChange.majorId" value="02">
            </td>
            <td class="TD_STYLE1">
                原薪酬标准
            </td>
            <td class="TD_STYLE2">
                @Html.TextBoxFor(e => e.salary_standard_name, new { @readonly = true })
                <input type="hidden" name="majorChange.salaryStandardId" value="1353320082662">
            </td>
            <td class="TD_STYLE1">
                原薪酬总额
            </td>
            <td class="TD_STYLE2">
                @Html.TextBoxFor(e => e.salary_sum, new { @readonly = true })
            </td>
        </tr>
        <tr>
            <td class="TD_STYLE1">
                新一级机构名称
            </td>
            <td class="TD_STYLE2">


                <select style="width:160px" name="majorChange.newFirstKindId" id="firstKindId" size="1">
                    <option value="0">-----请选择-----</option>



                </select>
                <input type="hidden" name="majorChange.newFirstKindName" id="newFirstKindName">
            </td>
            <td class="TD_STYLE1" width="12%">
                新二级机构名称
            </td>
            <td class="TD_STYLE2">

                <select style="width:160px" name="majorChange.newSecondKindId" id="secondKindId" size="1">
                    <option value="0">-----请选择-----</option>

                </select>
                <input type="hidden" name="majorChange.newSecondKindName" id="newSecondKindName">
            </td>
            <td class="TD_STYLE1" width="12%">
                新三级机构名称
            </td>
            <td class="TD_STYLE2">
                <select style="width:160px" name="majorChange.newThirdKindId" id="thirdKindId" size="1">
                    <option value="0">-----请选择-----</option>
                </select>
                <input type="hidden" name="majorChange.newThirdKindName" id="newThirdKindName">
            </td>
            <td class="TD_STYLE1" width="8%"></td>
            <td class="TD_STYLE2" width="10%"></td>
        </tr>
        <tr>
            <td class="TD_STYLE1">
                新职位分类
            </td>
            <td class="TD_STYLE2">
                <select style="width:160px" name="majorChange.newMajorKindId" id="newMajorKindId" size="1">
                    <option value="0">-----请选择-----</option>

                </select>
                <input type="hidden" name="majorChange.newMajorKindName" id="newMajorKindName">

            </td>
            <td class="TD_STYLE1" width="12%">
                新职位名称
            </td>
            <td class="TD_STYLE2">
                <select name="majorChange.newMajorId" id="newMajorId">
                    <option value="0">-----请选择-----</option>
                </select>
                <input type="hidden" name="majorChange.newMajorName" id="newMajorName">
            </td>
            <td class="TD_STYLE1">
                新薪酬标准
            </td>
            <td class="TD_STYLE2">
                <select style="width:160px" name="majorChange.newSalaryStandardId" id="newSalaryStandardId" size="1">
                    <option value="0">-----请选择-----</option>

                </select>
                <input type="hidden" name="majorChange.newSalaryStandardName" id="newSalaryStandardName">

            </td>
            <td class="TD_STYLE1">
                新薪酬总额
            </td>
            <td class="TD_STYLE2">
                <input type="text" name="salary_sum2" id="salary_sum2">
            </td>
        </tr>

        <tr>
            <td class="TD_STYLE1">
                登记人
            </td>
            <td class="TD_STYLE2">
                <input type="text" name="register" id="register ">

            </td>
            <td class="TD_STYLE1">
                登记时间
            </td>
            <td class="TD_STYLE2">
                <input type="text" name="majorChange.registTime" readonly="readonly"
                       id="Tdate">
                <SCRIPT type="text/javascript">
                    function time() {
                        var tdate = document.getElementById("Tdate");
                        var d = new Date();
                        var y = d.getFullYear();
                        var moth = d.getMonth() + 1;
                        var date = d.getDate();
                        var h = d.getHours();
                        var m = d.getMinutes();
                        var s = d.getSeconds();
                        var hh = 20 - 1 - h;
                        var mm = 60 - 1 - m;
                        var ss = 60 - s;
                        if (hh > 0) {
                            mm = mm + 60 * hh;
                        }
                        if (moth < 10) {
                            moth = "0" + moth;
                        }
                        if (date < 10) {
                            date = "0" + date;
                        }
                        if (h < 10) {
                            h = "0" + h;
                        }
                        if (m < 10) {
                            m = "0" + m;
                        }
                        if (s < 10) {
                            s = "0" + s;
                        }
                        if (mm < 10) {
                            mm = "0" + mm;
                        }
                        if (ss < 10) {
                            ss = "0" + ss;
                        }

                        tdate.value = y + "-" + moth + "-" + date + " " + h + ":" + m + ":" + s;


                    }
                    window.onload = time;
                    var out = window.setInterval(time, 1000);
                </SCRIPT>
            </td>
            <td class="TD_STYLE1"></td>
            <td class="TD_STYLE2"></td>
            <td class="TD_STYLE1"></td>
            <td class="TD_STYLE2"></td>
        </tr>
        <tr>
            <td class="TD_STYLE1">
                调动原因
            </td>
            <td colspan="7" class="TD_STYLE2">
                <textarea name="majorChange.changeReason" rows="6" id="change_reason" class="TEXTAREA_STYLE1"></textarea>
            </td>
        </tr>
    </table>
</form>
<div>

</div>
